EXPO_PUBLIC_API_BASE_URL=https://acquaint-hurled-monument.ngrok-free.dev
EXPO_PUBLIC_KEYCLOAK_ISSUER=https://floral-sacred-relatively-apt.trycloudflare.com/realms/nexaticket
EXPO_PUBLIC_MOBILE_OIDC_CLIENT_ID=mobile-platform